@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #F5F5F5;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: "Bebas Neue", cursive;
}
